body {
    background: #0e0e0e;
    color: #f2e8ff;
    width: 200px;
    height: 300px;
    font-family: 'Ubuntu', sans-serif;
}

#enable_toggle {
    width: 100px;
    height: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    margin: 50px;
} 